@use '_nullstyles';

$color_title: #18141498;
$color_text: #1f1f1f;
$color_white: #fff;
$color_red: #cc0000;

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.main {
    @include flexColumn;
    min-height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    &__title {
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: $color_title;
        text-align: center;
        font-size: 3rem;
        letter-spacing: -2px;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
    }

    &__content {
        @include flexColumn;
        justify-content: space-between;
        gap: 1rem;
        height: calc(100vh - 7rem);
        padding-bottom: 3rem;
        margin: 0 20px;

        &-header {
            border-bottom: 1px solid $color_title;
            padding-bottom: 0.35rem;
    
            span {
                padding: 0.3rem 1rem;
                background-color: $color_title;
                font-size: 1rem;
                color: $color_white;
                border-top-left-radius: .375rem;
                border-top-right-radius: .375rem;
            }
        }

        &-body {
            @include flexColumn;
            justify-content: space-between;
            height: 100%;

            p {
                text-align: center;
                font-size: 1.5rem;
                letter-spacing: -1px;
                color: $color_text;
                font-weight: 600;
            }
        }
    }

    &__cards {
        position: relative;
        height: 100%;
        margin-top: 30vh;

        &-scroll-container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            background: rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 768px) {
                left: 40px;
            }
        }

        &-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background:  $color_red;
            transition: height 0.3s ease;
        }

        &-items {
            @include flexColumn;
            max-width: 1200px;
            width: 100%;
            padding: 20px 20px 20px 20px;
            position: relative;
            transform: translateY(-230px);

            @media screen and (max-width: 768px) {
                width: 100%;
                padding-left: 15px;
            }
        }

        &-item {
            position: relative;
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 40px;
            height: 400px;
            width: 50%;
            transition: all 0.3s ease;

            &:nth-child(even) {
                align-self: flex-end;
                flex-direction: row-reverse;
                transform: translateX(-88px);


                @media screen and (max-width: 768px) {
                    justify-content:  flex-end;                    ;
                    width: 100%;
                    transform: translateX(0);
                }

                .card {
                    margin-right: -40px;

                    @media screen and (max-width: 768px) {
                        margin-right: unset;
                    }
                }
            }

            &:nth-child(odd) {
                transform: translateX(90px);

                @media screen and (max-width: 768px) {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    width: 100%;
                    transform: translateX(0);
                }

                .card {
                    margin-left: -40px;

                    @media screen and (max-width: 768px) {
                        margin-left: unset;
                    }
                }
            }

            @media screen and (max-width: 768px) {
                margin-bottom: 30px;
            }

            .card {
                max-width: 500px;
                width: 100%;
                height: 400px;
                padding: 20px;
                background: #f0f0f0;
                border: 1px solid #f5f5f5;
                border-radius: .625rem;
                box-shadow: 0 10px 15px -3px rgba(230, 230, 230, .4), 0 4px 6px -4px rgba(230, 230, 230, .4);
                opacity: 0;
                transform: translateY(200px);
                transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                @media screen and (max-width: 768px) {
                    transform: translate(0, 200px);
                }
            }
              
            .card.visible.right {
                opacity: 1;
                transform: translateY(0);
            }
            
            .card.visible.left {
                opacity: 1;
                transform: translateY(0);
            }

            .label{

                z-index: 20;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 140px;
                height: 60px;
                line-height: 40px;
                text-align: center;
                font-size: 2rem;

                @media screen and (max-width: 768px) {
                    width: 100px;
                    font-size: 1.5rem;
                }

                svg {
                    background-color: $color_white;
                    fill: inherit;
                }

                &.filled {
                    color: $color_red;
                    fill: $color_red;
                }
            }

            .label.left {
                left: -144px;

                @media screen and (max-width: 768px) {
                    flex-direction: row-reverse;
                    left: -54px;
                }
            }
        }
    }
}