@use '_nullstyles';

$color_title: #18141498;
$color_text: #1f1f1f;
$color_white: #fff;
$color_red: #cc0000;

@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.main {
    @include flexColumn;
    min-height: 100%;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    &__title {
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: $color_title;
        text-align: center;
        font-size: 3rem;
        letter-spacing: -2px;
    }

    &__content {
        @include flexColumn;
        justify-content: space-between;
        gap: 1rem;
        height: calc(100vh - 7rem);
        padding-bottom: 3rem;
        margin: 0 20px;

        &-header {
            border-bottom: 1px solid $color_title;
            padding-bottom: 0.35rem;
    
            span {
                padding: 0.3rem 1rem;
                background-color: $color_title;
                font-size: 1rem;
                color: $color_white;
                border-top-left-radius: .375rem;
                border-top-right-radius: .375rem;
            }
        }

        &-body {
            @include flexColumn;
            justify-content: space-between;
            height: 100%;

            p {
                text-align: center;
                font-size: 1.5rem;
                letter-spacing: -1px;
                color: $color_text;
                font-weight: 600;
            }
        }
    }

    &__cards {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-top: 30vh;

        &-scroll-container {
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 6px;
            background: rgba(0, 0, 0, 0.1);
        }

        &-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background:  $color_red;
            transition: height 0.3s ease;
        }

        &-items {
            max-width: 1000px;
            width: 50%;
            padding: 20px 20px 20px 30px;
            position: relative;
            transform: translateY(-230px);
        }

        &-item {
            position: relative;
            margin-bottom: 20px;
            height: 400px;

            .card {
                max-width: 400px;
                width: 100%;
                height: 400px;
                padding: 20px;
                background: #f0f0f0;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                opacity: 0;
                transform: translateY(200px);
                transition: opacity 0.5s ease, transform 0.5s ease;
            }
              
            .card.left {
                position: absolute;
                left: -460px;
            }
              
            .card.visible.right {
                opacity: 1;
                transform: translateY(0);
            }
            
            .card.visible.left {
                opacity: 1;
                transform: translateY(0);
            }

            .label{
                position: absolute;
                top: 50%;
                left: -54px;
                z-index: 20;
                transform: translateY(-50%);
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 140px;
                height: 60px;
                line-height: 40px;
                text-align: center;
                font-size: 2rem;

                svg {
                    background-color: $color_white;
                    fill: inherit;
                }

                &.filled {
                    color: $color_red;
                    fill: $color_red;
                }
            }

            .label.left {
                left: -144px;
            }
        }
    }
}